@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/*==================== font-face ====================*/

@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand/Shrikhand-Regular.eot');
    src: url('../fonts/Shrikhand/Shrikhand-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Shrikhand/Shrikhand-Regular.woff2') format('woff2'),
        url('../fonts/Shrikhand/Shrikhand-Regular.woff') format('woff'),
        url('../fonts/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/*==================== variables ====================*/

/*-------------------- colors -------------------- */

$primary_color: #9356dc;
$secondary_color: #ff79da;
$tertiary_color: #99e2d0;

$background_color: #f6f6f6;
$background_color_location: #eaeaea;

/*-------------------- var mixins : action_button -------------------- */

$action_button_name_default: "My button";
$background1_default: linear-gradient(to right bottom, $secondary_color, $primary_color);
$background2_default: linear-gradient(to left top, lighten($secondary_color, 3%) , lighten($primary_color, 3%));
$border_radius_default: 50px;

/*-------------------- var : .restaurants -------------------- */

$restaurants_box_new_color: #008766;
$restaurants_box_new_background_color: #99e2d0;

/*-------------------- var : .functionning -------------------- */

$functionning_tasting_color : $primary_color;
$functionning_tasting_background_color : #f5edff;

/*-------------------- var : $change_scale_temp -------------------- */

$change_scale_temp: random(3) * 1000;

/*==================== placeholder ====================*/


/*==================== mixins ====================*/        

@mixin scale($name, $scale_from: 2, $scale_to: 1){
    transform: scale($scale_from);
    transition: transform 300ms linear;

    @keyframes #{$name}{
        from {transform: scale($scale_from)}
        to {transform: scale($scale_to)};
    }
}

@mixin action_button(
    $background1: $background1_default,
    $background2: $background2_default,
    $border_radius: $border_radius_default
    ) {
    position: relative;
    background: $background1; 
    text-align: center;
    border-radius: $border_radius;
    color: #fff;
    z-index: 10;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        background: $background2;
        transition: opacity 300ms 300ms linear;
        border-radius: $border_radius;
        color: #fff;
        z-index: -10;
    }
}

@mixin box_shadow_button(
    $box_shadow_button_color: #c6c6c6,
    $box_shadow_delay: 300ms,
    $box_shadow_duration: 300ms
    ) {
    box-shadow: 1px 4px 5px $box_shadow_button_color;
    transition: box-shadow $box_shadow_delay $box_shadow_duration linear;
}

@mixin box_shadow_button_hover(
    $box_shadow_button_hover_color: #999999,
    $box_shadow_hover_delay: 300ms,
    $box_shadow_hover_duration: 300ms
    ) {
    box-shadow: 1px 4px 5px $box_shadow_button_hover_color;
    transition: box-shadow $box_shadow_hover_delay $box_shadow_hover_duration linear;
}

@mixin move_opacity(
    $move_opacity_step: 15px 
    ) {
        
    @keyframes move_opacity {
        from {
            opacity: 0;
            transform: translateY($move_opacity_step);
        }
        
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    animation: move_opacity 1500ms 200ms both;
}


/*==================== keyframes ====================*/

@keyframes move_opacity {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes change_scale {
    from{
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

@keyframes loader_quart_spin {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes loader_quart_scale {
    from{
        transform: scale(.8);
    }
    to {
        transform: scale(1.2);
    }
}

/*  ==================== html - body - box_main - header ====================*/

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    // background-color: #fff;  
}

body {
    max-width: 1440px;
    font-weight: normal;
    font-style: normal;
    font-size: 1.6rem;
    margin: 0 auto;
    font-family: Roboto, arial, "sans-serif";width: 100%;
    background-repeat: no-repeat;
    background-color: $background_color;
}

.box_main, .box_main_index {
    width: 100%;
    max-width: 1440px;
    min-width: 375px;

}

.box_main_index {
    height: 0;
    margin: 0 auto;
    transform: scale(0);
    animation: change_scale 0ms $change_scale_temp+ms linear reverse forwards;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 62px;
    background-color:#fff;
    font-family: Shrikhand,"sans-serif";
    box-shadow: 0 0 2px 1px #cfcfcf;


    h2 {
        font-size: 2.9rem;
        padding-top: 8px;

        @media all and (min-width: 810px) {
            font-size: 4rem;
        }  
    }

    a {
        position: absolute;
        top: 21px;
        left: 0;
        line-height: 30px;
        margin-left: 25px;
        font-size: 1.8rem;
        border-radius: 50%;

        p:hover {
            @include scale(scale_one, 3);
            animation: scale_one 1000ms 300ms linear infinite alternate; 
        }
    }
}

/*====================  Section - Article - Aside ====================*/

.article_aside {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/*-------------------- <article> -------------------- */    

article { 
    .location {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: $background_color_location;
        font-weight: 500;

        i {
            margin-right: 15px;
        }

        @media all and (max-width: 375px) {
            p {
                width: 140px;
            }
        }  
    }

    .title {
        display: flex;
        justify-content: center;
        height: 80px;
        padding-top: 39px;
        background-color: $background_color;

        h2 {
            font-weight: 600;
            text-align: center;
        }

        @media all and (max-width: 375px) {
            h2 {
                width: 240px;
                margin-left: -18px;
            }
        }  
    }

    .info {
        height: 60px;
        text-align: center;
        padding: 28px 0 0 8px;
        font-size: 1.8rem;
        font-weight: 300;
        background-color: $background_color;
    }

    .search_restaurants {
        display: flex;
        justify-content: center;
        height: 129px;
        padding-top: 40px;
        background-color: $background_color;

        a {
            margin-left: 5px;
            padding: 0 20px;
            height: 50px;
            line-height: 50px;
            @include box_shadow_button();
            @include action_button();
            &:hover {
                @include box_shadow_button_hover();
            }
        }
    }

    .functioning {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-top: 15px;
        background-color: #fff;

        .tasting_color {
            background-color: $functionning_tasting_background_color;

            i {
                color: $primary_color;
                font-size: 1.6rem;
            }
        }
        
        h2 {
            width: 100%;
            font-weight: 600;
            margin: 50px 0 32px 20px;
        }

        div {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            width: 100%;
            padding-bottom: 37px;

            p {
                background-color: $background_color;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                position: relative;
                width: 325px;
                height: 70px;
                border-radius: 20px;
                margin: 0 0 28px 13px;
                font-weight: 500;
                @include box_shadow_button();

                &:hover {
                    @include box_shadow_button_hover();
                    span {
                        @include scale(scale_two, 2);
                        animation: scale_two 1000ms 300ms linear infinite alternate; 
                    }
                }

                span {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: $primary_color;
                    width: 24px;
                    height: 24px;
                    margin-top: 4px;
                    margin-left: -10px;
                    font-size: 1.4rem;
                    color: #fff;
                }

                i {
                    margin-left: 22px;
                    width: 40px;
                    font-size:  2rem;
                    color: #7e7e7e;
                }

                
            }

            @media all and (min-width: 675px) {
                a {
                    margin: 0 10px;
                }  
            }
        }
    }

    .restaurants {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding-top: 55px;
        padding-bottom: 12px;
        background-color: $background_color;

        h2 {
            width: 100%;
            height: 30px;
            font-weight: 600;
            margin: 0 0 22px 20px;
        }

        &_box {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            width: 335px;
            height: 250px;
            border-radius: 16px;
            margin-bottom: 18px;
            @include box_shadow_button();

            &:hover {
                @include box_shadow_button_hover();

                .restaurants_box_img {
                    clip-path: polygon(0 100%, 100% 100%, 50% 0, 0 100%);
                    transition: 300ms 600ms ease-in-out;
                }
            }

            &_img {
                width: 335px;
                height: 175px;
                clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
                transition: 300ms 900ms ease-in-out;

                img {
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                }
            }

            &_new {
                position: absolute;
                width: 80px;
                height: 30px;
                top: 14px;
                right: 0;
                bottom: 0;
                left: 244px;
                line-height: 29px;

                p {
                    color: $restaurants_box_new_color;
                    background-color: $restaurants_box_new_background_color;
                    text-align: center;
                    border-radius: 2px;
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }

            &_info {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                width: 85%;
                height: 75px;
                border-bottom-left-radius: 16px;
                padding: 15px 13px 13px 13px;
                background-color: #fff;

                &_name {
                    width: 100%;
                    font-size: 1.8rem;
                    font-weight: 600;
                }
                &_place {
                    width: 100%;
                    font-size: 1.7rem;
                    font-weight: 300;
                }
            }

            &_like {
                position: relative; 
                width: 15%;
                font-size: 2.4rem;
                border-bottom-right-radius: 16px;
                background-color: #fff;

                .img {
                    margin-top: 16px;
                    :nth-child(1) {
                        &:hover {
                            & + :nth-child(2) {
                                transform: scale(1.2);

                            }
                        }
                    }
                    :nth-child(2) {
                        position: absolute;
                        top: 16px;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        transform: scale(0);
                        transition: transform 300ms 300ms linear;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }   
    }

    @media all and (min-width: 1081px) {
        .restaurants {
            padding-top: 10px;
            padding-bottom: 52px;
        }
    }

    @media all and (min-width: 376px) {
        .restaurants {
            &_box {
                margin: 0 15px 16px 15px;
            }
        }
    }
}

/*-------------------- <aside> -------------------- */

aside {
    min-width: 330px;
    flex: 0;
    text-align: justify;
    border: 1px solid $primary_color;
    // border-radius: 20px;
    box-shadow: -2px -2px 5px $primary_color;
    padding: 10px;
    line-height: 24px;
    background-color: #fff;
    margin: 0 10px;

    p::first-letter {
        font-size: 2.2rem;
        color: $primary_color;
    }

    @media all and (max-width: 1080px) {
        display:none;
    }
    
    h2 {
        text-align: center;
        margin-bottom: 25px;
    }

    h3 {
        margin: 15px 0 2px 0;
    }
}


/*==================== footer ====================*/

footer {
    position: relative;
    margin-top: 33px;
    width: 100%;
    height: 200px;
    color: #fff;
    background-color:#353535;
    padding: 20px 25px;

    svg {
        margin-top: 6px;
        margin-bottom: 15px;
        text-align: left;
    }

    p { 
        display: flex;
        flex-flow: row wrap ;
        align-items: center;
        padding-bottom: 5px;

        i {
            width: 22px;
            &.fas {
                
                    font-size: 1.3rem;
                }
            &.fa-hands-helping {
                    font-size: 1.1rem;
            }
        }   
    }

    a {
        display: block;
        color: #fff;

        span {
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom: 2px solid #fff;
                filter: drop-shadow(0 5px 5px #fff);
            }
        }
        
    }

    a:nth-of-type(3), a:nth-of-type(4) {
        font-weight: 300;
    }
}
/*====================  Various tags ====================*/

::selection {
    color: #fff;
    background-color: #ff4500;
}

a {
    color: black;
    text-decoration: none;
    cursor: url(../img/hand_cursor.png) 12 4, auto;
}

/*==================== Restaurant Menu ====================*/

article { 
    .menu {
        // width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: $background_color;

        &_img{
            width: 375px;
            height: 250px;
        }

        &_contents {
            background-color: $background_color;
            position: relative;
            width: 100%;
            margin-top: -30px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;

            &_restaurant_name {
                width: 100%;
                margin-bottom: 11px;
                padding-top: 32px;
                padding-left: 20px;

                h3 {
                    font-size: 2.8rem;
                    font-family: Shrikhand, "sans-serif";
                    text-align: left;
                    font-weight: 500;
                }

                img {
                    position: absolute;
                    top: 35px;
                    right: 0;
                    bottom: 0;
                    left:312px;
                }
            }

            &_box {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                margin-bottom: 16px;
                padding: 12px 5px 0 5px;

                &_name {
                    position: relative;
                    width: 100%;
                    height: 35px;
                    font-size: 1.6rem;
                    padding-top: 4px;
                    padding-left: 8px;

                    h4 {
                        text-transform: uppercase;
                        padding-top: 3px;
                        padding-left: 7px;
                        font-weight: 300;

                        
                    }

                    div {
                        position: absolute;
                        width: 40px;
                        height: 2px;
                        background-color: $tertiary_color;
                        top: 32px;
                        right: 0;
                        bottom: 0;
                        left: 14px;
                    }
                }

                &_recipe {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    width: 350px;
                    height: 70px;
                    border-radius: 16px;
                    margin-top: 12px;
                    padding-left: 12px;
                    overflow: hidden;
                    background-color: #fff;

                    @include box_shadow_button();
                        &:hover {
                        @include box_shadow_button_hover();
                    }

                    &:hover .menu_contents_box_recipe_ok {
                        margin-right: 0;
                        i {
                            transform: rotate(0deg);
                        }
                    }

                    &_info {
                        width: 150px;
                        height: 50px;
                        flex: 1;
                        padding-right: 1px;

                        p {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        
                        :nth-child(1) {
                            height: 28px;
                            font-size: 1.8rem;
                            font-weight: 500;
                            padding-top: 5px;
                        }
                        
                        :nth-child(2) {
                            height: 22px;
                            font-size: 1.5rem;
                            font-weight: 300;
                            padding-top: 3px;
                        }
                    }

                    &_price {
                        width: 60px;
                        height: 50px;
                        font-size: 1.5rem;
                        font-weight: 500;
                        padding-top: 31px;
                        padding-left: 12px;
                    }

                    &_ok {
                        background-color: $tertiary_color;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 100%;
                        margin-right: -60px;
                        transition: all 300ms 300ms ease-in-out;

                        i {
                            transform: rotate(-270deg);
                            transition: transform 300ms 450ms ease-in-out;
                            font-size: 2rem;
                        }
                    }

                    @media all and (min-width: 710px) {
                        margin: 12px 10px 0 10px;
                    }

                }

                @for $i from 1 through 10 {
                        a:nth-of-type(#{$i}) {
                        opacity: 0;
                        animation: move_opacity 1500ms calc(400ms * #{$i}) forwards;
                    }
                }
            }

            div.menu_contents_box:nth-of-type(4){
                margin-top: 30px;
            }
        }
    }

    .order {
        display: flex;
        justify-content: center;
        margin-top: 45px;
        margin-bottom: 24px;
        border: #ff440080;

        a {
            padding: 0 48px;
            height: 50px;
            line-height: 50px;
            @include box_shadow_button();
            @include action_button();
            &:hover {
                @include box_shadow_button_hover();
            }
        }
    }
}

/*====================  Loader: Two Quarter Circle ====================*/

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    width: 100vw;
    height: 100vh;
    // padding-top: 100px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #0a8ea0;
    color: #fff;
    z-index: 100;
    font-size: 2.5rem;
    animation: change_scale 0ms $change_scale_temp+ms linear forwards;

    &_quart {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border : 6px solid rgba(255, 255, 255, .1);
        border-left-color: rgb(76, 0, 255);
        animation: loader_quart_spin 2000ms linear infinite alternate;

        & + p { margin-top: 20px;
            animation: loader_quart_scale 1000ms linear infinite alternate both;
            &:hover {
                color: transparent;
                &:after {
                    color: #fff;
                    margin-left: -50px;
                    content: "Chargement";
                }
            }
        }
        
        &:hover {   
                position: relative;
                animation: paused;
            }

        &:after {
            position: absolute;
            content: "";
            top: -6px;
            right: -6px;
            bottom: -6px;
            left: -6px;
            border: 6px solid transparent;
            border-radius: 100px;
            border-top-color: rgba(255, 255, 255, .6);
            animation: loader_quart_spin 2000ms linear infinite;
        }
    }
    
}
