@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");
/*==================== font-face ====================*/
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand/Shrikhand-Regular.eot");
  src: url("../fonts/Shrikhand/Shrikhand-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Shrikhand/Shrikhand-Regular.woff2") format("woff2"), url("../fonts/Shrikhand/Shrikhand-Regular.woff") format("woff"), url("../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/*==================== variables ====================*/
/*-------------------- var mixins : action_button -------------------- */
/*-------------------- var : .restaurants -------------------- */
/*-------------------- var : .functionning -------------------- */
/*==================== placeholder ====================*/
/*==================== mixins ====================*/
/*==================== keyframes ====================*/
@keyframes email {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
/*==================== general class ====================*/
/*-------------------- .gradient -------------------- */
.gradient {
  display: inline-block;
  position: relative;
}

.gradient::before {
  position: absolute;
  content: "";
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background: linear-gradient(to top, #ff79da, #9356dc);
  mix-blend-mode: screen;
}

/*-------------------- Cube 3D -------------------- */
.cube {
  width: 30px;
  height: 30px;
  transform-style: preserve-3d;
  transition: transform 200ms ease-in-out 300ms;
}
.cube:hover {
  transform: translateY(50%) rotateX(-90deg);
}
.cube_face1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #74d2e7;
}
.cube_face2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #f14f04;
  transform-origin: top;
  transform: translateY(-100%) rotateX(90deg);
}

/*  ==================== html - body - box_main - header ====================*/
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  max-width: 1440px;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  margin: 0 auto;
  font-family: Roboto, arial, "sans-serif";
  width: 100%;
  background-repeat: no-repeat;
}

.box_main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 62px;
  background-color: #fff;
  font-family: Shrikhand, "sans-serif";
  box-shadow: 0 0 2px 1px #cfcfcf;
}
header h2 {
  font-size: 2.9rem;
  padding-top: 15px;
}
header a {
  position: absolute;
  top: 21px;
  left: 0;
  line-height: 30px;
  margin-left: 25px;
  font-size: 1.8rem;
  border-radius: 50%;
}
header a p:hover {
  transform: scale(4);
  transition: transform 300ms linear;
  animation-name: pulsation;
  animation-duration: 800ms;
  animation-delay: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes pulsation {
  from {
    transform: scale(4);
  }
  to {
    transform: scale(0.5);
  }
}

/*====================  Section - Article - Aside ====================*/
.article_aside {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/*-------------------- <article> -------------------- */
article .location {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea8e;
  font-weight: 500;
}
article .location i {
  margin-right: 15px;
}
@media all and (max-width: 375px) {
  article .location p {
    width: 140px;
  }
}
article .title {
  display: flex;
  justify-content: center;
  height: 80px;
  padding-top: 39px;
  background-color: #f6f6f67a;
}
article .title h2 {
  font-weight: 500;
  text-align: center;
}
@media all and (max-width: 375px) {
  article .title h2 {
    width: 240px;
    margin-left: -18px;
  }
}
article .info {
  height: 60px;
  text-align: center;
  padding: 28px 0 0 8px;
  font-size: 1.8rem;
  font-weight: 300;
  background-color: #f6f6f67e;
}
article .search_restaurants {
  display: flex;
  justify-content: center;
  height: 129px;
  padding-top: 40px;
  background-color: #f6f6f675;
}
article .search_restaurants a {
  margin-left: 8px;
  width: 218px;
  height: 50px;
  line-height: 50px;
  box-shadow: 1px 4px 5px #c6c6c6;
  transition: box-shadow 300ms 300ms linear;
  position: relative;
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  text-align: center;
  border-radius: 50px;
  color: #fff;
  z-index: 10;
}
article .search_restaurants a:hover::after {
  opacity: 1;
}
article .search_restaurants a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(to left top, #ff88de, #9b63df);
  transition: opacity 300ms 300ms linear;
  border-radius: 50px;
  color: #fff;
  z-index: -10;
}
article .search_restaurants a:hover {
  box-shadow: 1px 4px 5px #999999;
  transition: box-shadow 300ms 300ms linear;
}
article .functioning {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 15px;
}
article .functioning .tasting_color {
  background-color: #f5edff;
}
article .functioning .tasting_color i {
  color: #9356dc;
  font-size: 1.6rem;
}
article .functioning h2 {
  width: 100%;
  text-align: center;
  font-weight: 500;
  margin: 50px 0 32px 20px;
}
article .functioning div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 37px;
}
article .functioning div p {
  background-color: #f6f6f6;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  width: 325px;
  height: 70px;
  border-radius: 20px;
  margin: 0 0 28px 13px;
  font-weight: 500;
  box-shadow: 1px 4px 5px #c6c6c6;
  transition: box-shadow 300ms 300ms linear;
}
article .functioning div p:hover {
  box-shadow: 1px 4px 5px #999999;
  transition: box-shadow 300ms 300ms linear;
}
article .functioning div p:hover span {
  transform: scale(2);
  transition: transform 300ms linear;
  animation-name: pulsation;
  animation-duration: 800ms;
  animation-delay: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes pulsation {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}
article .functioning div p span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9356dc;
  width: 24px;
  height: 24px;
  margin-top: 4px;
  margin-left: -10px;
  font-size: 1.4rem;
  color: #fff;
}
article .functioning div p i {
  margin-left: 22px;
  width: 40px;
  font-size: 2rem;
  color: #7e7e7e;
}
@media all and (max-width: 375px) {
  article .functioning h2 {
    text-align: left;
  }
}
article .restaurants {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 55px;
  padding-bottom: 12px;
  background-color: #f6f6f6;
}
article .restaurants h2 {
  width: 100%;
  height: 30px;
  font-weight: 500;
  margin: 0 0 22px 20px;
}
article .restaurants_box {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 335px;
  height: 250px;
  border-radius: 16px;
  margin-bottom: 18px;
  box-shadow: 1px 4px 5px #c6c6c6;
  transition: box-shadow 300ms 300ms linear;
}
article .restaurants_box:hover .restaurants_box_img {
  clip-path: polygon(0 100%, 100% 100%, 50% 0, 0 100%);
  transition: 300ms 600ms ease-in-out;
}
article .restaurants_box_img {
  width: 335px;
  height: 175px;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  transition: 300ms 1200ms ease-in-out;
}
article .restaurants_box_img img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
article .restaurants_box_new {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 14px;
  right: 0;
  bottom: 0;
  left: 244px;
  line-height: 29px;
}
article .restaurants_box_new p {
  color: #008766;
  background-color: #99e2d0;
  text-align: center;
  border-radius: 2px;
  font-size: 1.4rem;
  font-weight: 500;
}
article .restaurants_box_info {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 85%;
  height: 75px;
  border-bottom-left-radius: 16px;
  padding: 15px 13px 13px 13px;
  background-color: #fff;
}
article .restaurants_box_info_name {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
}
article .restaurants_box_info_place {
  width: 100%;
  font-size: 1.7rem;
}
article .restaurants_box_like {
  position: relative;
  width: 15%;
  font-size: 2.4rem;
  border-bottom-right-radius: 16px;
  background-color: #fff;
}
article .restaurants_box_like .img {
  margin-top: 16px;
}
article .restaurants_box_like .img :nth-child(1):hover + :nth-child(2) {
  transform: scale(1.2);
}
article .restaurants_box_like .img :nth-child(2) {
  position: absolute;
  top: 16px;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: transform 300ms 300ms linear;
}
article .restaurants_box_like .img :nth-child(2):hover {
  transform: scale(1.2);
}
@media all and (min-width: 1081px) {
  article .restaurants {
    padding-top: 10px;
    padding-bottom: 52px;
  }
}
@media all and (min-width: 376px) {
  article .restaurants_box {
    margin: 0 15px 16px 15px;
  }
}

/*-------------------- <aside> -------------------- */
aside {
  min-width: 330px;
  flex: 0;
  text-align: justify;
  border: 1px solid #9356dc;
  box-shadow: -2px -2px 5px #9356dc;
  padding: 10px;
  line-height: 24px;
  background-color: #f6f6f6;
}
aside p::first-letter {
  font-size: 2.5rem;
  color: #9356dc;
}
@media all and (max-width: 1080px) {
  aside {
    display: none;
  }
}
aside h2 {
  text-align: center;
  margin-bottom: 25px;
}
aside h3 {
  margin: 15px 0 2px 0;
}

/*==================== footer ====================*/
footer {
  position: relative;
  margin-top: 33px;
  width: 100%;
  height: 200px;
  color: #fff;
  background-color: #353535;
  padding: 20px 25px;
}
footer svg {
  margin-top: 6px;
  margin-bottom: 15px;
  text-align: left;
}
footer p {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-bottom: 5px;
}
footer p i {
  width: 22px;
}
footer p i.fas {
  font-size: 1.3rem;
}
footer p i.fa-hands-helping {
  font-size: 1.1rem;
}
footer a {
  display: block;
  color: #fff;
}
footer a span {
  border-bottom: 2px solid transparent;
}
footer a span:hover {
  border-bottom: 2px solid #fff;
  filter: drop-shadow(0 5px 5px #fff);
}

/*====================  Various tags ====================*/
::selection {
  color: #fff;
  background-color: #ff4500;
}

a {
  color: black;
  text-decoration: none;
  cursor: url(../img/hand_cursor.png) 4 12, auto;
}

/*==================== breakpoints ====================*/
/*==================== functions - extensions (%) ====================*//*# sourceMappingURL=style.css.map */